.project-section{
    height: 100vh;
    background-color: #8B86E7;
    overflow-x: scroll;

}
.project-header{
    color: #fff;
    text-align: center;
    padding: 2em 0 2em 0;
    font-size: 1.6em;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;;

}
h1{
    margin-top: 1rem;
}
.wrap{
    display: flex;
    justify-content: space-between;
}

.p{
    width: 400px;
    height: 340px;
    background-color: #FDFCF8;
    border-radius: 16px;
    margin: 1.5rem 1.5rem;
}