* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 75px;
    width: 100%;
    position: relative;
    position: fixed;
    top:0;
    z-index: 3;
    background-color: #fff;
    margin-bottom: 41rem;
  }

  .nav > .nav-header {
    display: inline;
    z-index: 2;

  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 27px;
    font-weight: 700;
    padding: 19px 10px 10px 15px;
    z-index: 2;

  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 21px;
    margin-right:5.5em;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 27px 20px;
    height: 70px;
    font-family: "Raleway",sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 550;
    z-index: 2;

  }
  .nav > .nav-links > a:hover {
    border-bottom: 3px solid #111;
    transition: all 0.2s ease-in-out;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  /* for mobiile app */
  @media (max-width:700px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .toggleDiv{
      display: none;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 19px 14px;
    }
    .nav > .nav-links > a:hover {
      background-color: #fff;
      color: #111;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 28px;
      height: 11px;
      border-top: 3px solid #111;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
      background-color: #111;
      color: #111;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 60px;
      left: 0px;
      z-index: 2;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      color: #fff;
      z-index: 2;

    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      z-index: index 2;
    }
  }

  

/* light and dark mode */

body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 46px;
  height: 22px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 17px;
  height: 17px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}
.toggleDiv{
  position: absolute;
  right: 50px;
  top: 30px;
}